@charset "UTF-8";
.one.select.bootstrap-select.btn-group{
margin-left: 42px;
margin-top: -49px
}

.two.select.bootstrap-select.btn-group{
position:absolute;
top:-7px;
left:220px
}
.btn-alt{
margin-left: 220px;
margin-top: 55px
}
.startdate{
width: 19.1%;
height: 28px;
position: absolute;
left: 160px;
top: 45px
}
.enddate{
width: 82%;
height: 28px;
position: absolute;
left: 152px;
top: 25px
}
.add-on{
position: absolute;
left: 255px;
top: 45px;
width: 34px;
height: 28px;
z-index: 10000;
}
.add-on.end{
position: absolute;
left: 246px;
top: 25px;
}
.end_date{
position: absolute;
left: 240px;
top: 20px
}
.datetimepicker.datetimepicker-dropdown-bottom-right.dropdown-menu{
background-color: white;
}

.time1{
position: absolute;
left: 20px;
top: 56px
}.time2{
position: absolute;
left: 252px;
top: 56px
}.time3{
position: absolute;
left: 20px;
top: 92px
}.time4{
position: absolute;
left: 252px;
top: 92px
}.time5{
position: absolute;
left: 20px;
top: 128px
}.time6{
position: absolute;
left: 252px;
top: 128px
}.roominfo{
position: absolute;
left: 212px;
top: 164px
}.iroominfo{
position: absolute;
left: -52px;
top: 25px;
width: 357px
}
.itime1{
width: 90%;
height: 28px;
position: absolute;
left: 140px;
top: 25px
}
.add-on.stime1{
position: absolute;
left: 234px;
top: 25px;
width: 34px;
height: 28px;
}
.datetimepicker.datetimepicker-dropdown-bottom-right.dropdown-menu{
z-index: 100000;
}
.comments{
position: absolute;
left: 212px;
top: 200px
}.com{
position: absolute;
left: -52px;
top: 35px;
width: 357px
}
